[Desktop Entry]
Type=Application
Name=Linux Thermal rigth lcd display control
Comment=Linux Thermal rigth lcd display control
Exec=/usr/bin/thermalright-lcd-control
Icon=thermalright-lcd-control
Terminal=false
Categories=Utility;Application;
StartupWMClass=thermalright-lcd-control
